<section id="awards-projects" class="alternate">
    <div class="container">
        <div class="heading-title text-center">
            <h2>Portfolio</h2>
        </div>

        <ul id="portfolio_filter" class="nav nav-pills mb-60">
            <li class="filter active"><a data-filter="*">All</a></li>
            <li class="filter"><a data-filter=".award">award</a></li>
            <li class="filter"><a data-filter=".residential">residential</a></li>
            <li class="filter"><a data-filter=".corporate">corporate</a></li>
        </ul>

        <div id="portfolio" class="clearfix portfolio-isotope portfolio-isotope-3">

            <% @awards.each do |award| %>
                <%= render partial: 'portfolio-item', :locals =>  { award: award } %>
            <% end %>

        </div>

    </div>
</section>