<section id="awards-projects" class="alternate">
    <div class="container">
        <div class="heading-title text-center">
            <h2>Portfolio</h2>
        </div>

        <ul id="portfolio_filter" class="nav nav-pills mb-60">
            <li class="filter active"><a data-filter="*">All</a></li>
            <li class="filter"><a data-filter=".award">award</a></li>
            <li class="filter"><a data-filter=".residential">residential</a></li>
            <li class="filter"><a data-filter=".corporate">corporate</a></li>
        </ul>

        <div id="portfolio" class="clearfix portfolio-isotope portfolio-isotope-3">


            <div class="portfolio-item has-title corporate">
                <!-- item -->

                <div class="item-box">
                    <figure>
                        <span class="item-hover">
                            <span class="overlay dark-5"></span>
                        </span>

                        <!-- overlay title -->
                        <div class="item-box-overlay-title">
                            <h3>Burj Khalifa</h3>
                        </div><!-- /overlay title -->

                        <img class="img-fluid" src="/assets/portfolio-images/burj-khalifa.jpg"
                            width="600" height="399" alt="">
                    </figure>
                </div>

            </div><!-- /item -->


            <div class="portfolio-item has-title residential">
                <!-- item -->

                <div class="item-box">
                    <figure>
                        <span class="item-hover">
                            <span class="overlay dark-5"></span>
                        </span>

                        <!-- overlay title -->
                        <div class="item-box-overlay-title">
                            <h3>Immeuble Roussin</h3>
                        </div><!-- /overlay title -->

                        <img class="img-fluid" src="/assets/portfolio-images/residential-1.jpg"
                            width="600" height="399" alt="photo-immeuble-roussin">
                    </figure>
                </div>

            </div><!-- /item -->


            <div class="portfolio-item has-title award">
                <!-- item -->

                <div class="item-box">
                    <figure>
                        <span class="item-hover">
                            <span class="overlay dark-5"></span>
                        </span>

                        <!-- overlay title -->
                        <div class="item-box-overlay-title">
                            <h3>Speed Award Nominee</h3>
                        </div><!-- /overlay title -->

                        <img class="img-fluid" src="/assets/portfolio-images/award1-fastest.jpeg"
                            width="600" height="399" alt="speed-award-rocket-elevator">
                    </figure>
                </div>

            </div><!-- /item -->


            <div class="portfolio-item has-title award">
                <!-- item -->

                <div class="item-box">
                    <figure>
                        <span class="item-hover">
                            <span class="overlay dark-5"></span>
                        </span>

                        <!-- overlay title -->
                        <div class="item-box-overlay-title">
                            <h3>Emergency Award Winner</h3>
                        </div><!-- /overlay title -->

                        <img class="img-fluid" src="/assets/portfolio-images/award3-emergency.jpeg"
                            width="600" height="399" alt="emergency-award-rocket-elevator">
                    </figure>
                </div>

            </div><!-- /item -->


            <div class="portfolio-item has-title residential">
                <!-- item -->

                <div class="item-box">
                    <figure>
                        <span class="item-hover">
                            <span class="overlay dark-5"></span>
                        </span>

                        <!-- overlay title -->
                        <div class="item-box-overlay-title">
                            <h3>Immeuble LaTulipe</h3>
                        </div><!-- /overlay title -->

                        <img class="img-fluid" src="/assets/portfolio-images/residential-2.jpg"
                            width="600" height="399" alt="immeuble-roussin">
                    </figure>
                </div>

            </div><!-- /item -->


            <div class="portfolio-item has-title corporate">
                <!-- item -->

                <div class="item-box">
                    <figure>
                        <span class="item-hover">
                            <span class="overlay dark-5"></span>
                        </span>

                        <!-- overlay title -->
                        <div class="item-box-overlay-title">
                            <h3>Eiffel Tower</h3>
                        </div><!-- /overlay title -->

                        <img class="img-fluid" src="/assets/portfolio-images/eiffel-tower.jpg"
                            width="600" height="399" alt="Eiffel Tower photo">
                    </figure>
                </div>

            </div><!-- /item -->


            <div class="portfolio-item has-title award">
                <!-- item -->

                <div class="item-box">
                    <figure>
                        <span class="item-hover">
                            <span class="overlay dark-5"></span>
                        </span>

                        <!-- overlay title -->
                        <div class="item-box-overlay-title">
                            <h3>Software Elevators Award Nominee</h3>
                        </div><!-- /overlay title -->

                        <img class="img-fluid" src="/assets/portfolio-images/award2-techno.jpeg"
                            width="600" height="399" alt="Software Elevators Award Nominee - photo">
                    </figure>
                </div>

            </div><!-- /item -->

            <div class="portfolio-item has-title residential">
                <!-- item -->

                <div class="item-box">
                    <figure>
                        <span class="item-hover">
                            <span class="overlay dark-5"></span>
                        </span>

                        <!-- overlay title -->
                        <div class="item-box-overlay-title">
                            <h3>Immeuble LB9</h3>
                        </div><!-- /overlay title -->

                        <img class="img-fluid" src="/assets/portfolio-images/residential-3.jpg"
                            width="600" height="399" alt="immeuble LB9 photo">
                    </figure>
                </div>

            </div><!-- /item -->


            <div class="portfolio-item has-title corporate">
                <!-- item -->

                <div class="item-box">
                    <figure>
                        <span class="item-hover">
                            <span class="overlay dark-5"></span>
                        </span>

                        <!-- overlay title -->
                        <div class="item-box-overlay-title">
                            <h3>Centre Videotron</h3>
                        </div><!-- /overlay title -->

                        <img class="img-fluid" src="/assets/portfolio-images/centre-videotron.jpg"
                            width="600" height="399" alt="Centre Videotron Photo">
                    </figure>
                </div>

            </div><!-- /item -->


            <div class="portfolio-item has-title residential">
                <!-- item -->

                <div class="item-box">
                    <figure>
                        <span class="item-hover">
                            <span class="overlay dark-5"></span>
                        </span>

                        <!-- overlay title -->
                        <div class="item-box-overlay-title">
                            <h3>Le Quartier Vision</h3>
                        </div><!-- /overlay title -->

                        <img class="img-fluid" src="/assets/portfolio-images/residential-4.jpg"
                            width="600" height="399" alt="Le Quartier vision photo">
                    </figure>
                </div>

            </div><!-- /item -->


            <div class="portfolio-item has-title corporate">
                <!-- item -->

                <div class="item-box">
                    <figure>
                        <span class="item-hover">
                            <span class="overlay dark-5"></span>
                        </span>

                        <!-- overlay title -->
                        <div class="item-box-overlay-title">
                            <h3>The US Pentagone</h3>
                        </div><!-- /overlay title -->

                        <img class="img-fluid" src="/assets/portfolio-images/pentagone.jpg" width="600"
                            height="399" alt="Pentagon building photo from sky">
                    </figure>
                </div>

            </div><!-- /item -->



            <div class="portfolio-item has-title corporate">
                <!-- item -->

                <div class="item-box">
                    <figure>
                        <span class="item-hover">
                            <span class="overlay dark-5"></span>
                        </span>

                        <!-- overlay title -->
                        <div class="item-box-overlay-title">
                            <h3>Empire State Building</h3>
                        </div><!-- /overlay title -->

                        <img class="img-fluid" src="/assets/portfolio-images/empire-state-building.jpg"
                            width="600" height="399" alt="emprie state building photo">
                    </figure>
                </div>

            </div><!-- /item -->


        </div>

    </div>
</section>