<div class="fancy-form fancy-form-select type-select">
    <select id="building-type-select" class="form-control">
        <option value="">--- select a building type ---</option>
        <option id="buildingTypeOptionResidential" value="residential">Residential</option>
        <option id="buildingTypeOptionCommercial" value="Commercial">Commercial</option>
        <option id="buildingTypeOptionCorporate" value="Corporate">Corporate</option>
        <option id="buildingTypeOptionHybrid" value="Hybrid">Hybrid</option>
    </select>
</div>