<form id="commercial-form" class="row clearfix" method="post" action="/new_equotes">

    <div class="col-lg-8 col-sm-7">
        <div class="heading-title">
            <h4>Commercial Building</h4>
        </div>

        <fieldset class="mt-60">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <label for="commercial-stories">stories </label>
                    <input id="commercial-stories" name="commercial[stories]" type="number"
                        class="form-control"  min="0"/>
                </div>
                <div class="col-md-4 col-sm-6">
                    <label for="commercial-basements">basements</label>
                    <input id="commercial-basements" name="commercial[basements]" type="number"
                        class="form-control"  min="0"/>
                </div>
                <div class="col-md-4 col-sm-6">
                    <label for="commercial-parkingspaces">parking spaces</label>
                    <input id="commercial-parkingspaces" name="commercial[parkingspaces]"
                        type="number" class="form-control"  min="0"/>
                </div>
                <div class="col-md-4 col-sm-6">
                    <label for="commercial-elevatorshafts">elevator shafts </label>
                    <input required id="commercial-elevatorshafts" name="commercial[elevatorshafts]"
                        type="number" class="form-control"  min="0"/>
                </div>

            </div>
            <button id="calc-estimate-btn" type="submit" class="col-md-8 btn btn-primary" >GET AN ESTIMATE</button>
        </fieldset>
    </div>
</form>