<div class="owl-carousel buttons-autohide controlls-over m-0" data-plugin-options='{"items": 1, "autoHeight": true, "navigation": true, "pagination": true, "transitionStyle":"backSlide", "progressBar":"true"}'>
    <div>
        <img class="img-fluid" src="/assets/portfolio-images/centre-videotron.jpg" alt="centre-videotron">
    </div>
    <div>
        <img class="img-fluid" src="/assets/portfolio-images/burj-khalifa.jpg" alt="burj khalifa">
    </div>
    <div>
        <img class="img-fluid" src="/assets/portfolio-images/eiffel-tower.jpg" alt="eiffel tower">
    </div>
    <div>
        <img class="img-fluid" src="/assets/portfolio-images/pentagone.jpg" alt="pentagone">
    </div>
</div>