 <div id="header" class="navbar-toggleable-md sticky header-lg clearfix">
<header id="topNav">
    <div class="container">

        <!-- Logo -->
        <a class="logo float-left scrollTo" href="./index.html#top">
            <img src="rocket-elevators-logo.png" alt="" />
        </a>

        <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
            <nav class="nav-main">
                <ul id="topMain" class="nav nav-pills nav-main nav-onepage">
                    <li class="active">
                        <!-- HOME -->
                        <a href="./index.html">
                            HOME
                        </a>
                    </li>
                    <li>
                        <!-- SERVICES -->
                        <a href="./index.html#services">
                            SERVICES
                        </a>
                    </li>
                    <li>
                        <!-- WORK -->
                        <a href="./index.html#awards-projects">
                            PORTOLIO
                        </a>
                    </li>
                    <li>
                        <!-- NEWS -->
                        <a href="./index.html#news">
                            NEWS
                        </a>
                    </li>
                    <li>
                        <!-- CLIENTS -->
                        <a href="./index.html#clients">
                            CLIENTS
                        </a>
                    </li>
                    <li>
                        <!-- CONTACT -->
                        <a href="./index.html#contact">
                            CONTACT
                        </a>
                    </li>
                </ul>

            </nav>
        </div>

    </div>
</header>
</div>
