<section id="hero-slider" class="slider fullwidthbanner-container roundedcorners">
    <div class="fullwidthbanner" data-height="600" data-shadow="0" data-navigationStyle="preview2">
        <ul class="hide">
    
            <!-- SLIDE  -->
            <li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300" data-saveperformance="off"
                data-title="Elevate, Speed and Style">
                <!-- MAIN IMAGE -->
               
                <%= image_tag('slider-image/slide-1.jpg', :alt => "cover-image", :width => "100%" ) %>
                <div class="overlay dark-5"></div>
    
                <div class="tp-caption font-roboto skewfromleft tp-resizeme" data-x="50" data-y="200" data-speed="500"
                    data-start="1500" data-easing="Cubic.easeOut" data-splitin="none" data-splitout="none"
                    data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500"
                    style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
                    Elevate <br />
                    Speed and Style
                </div>
    
                <div class="tp-caption sfb tp-resizeme" data-x="50" data-y="410" data-speed="500" data-start="1500"
                    data-easing="Power3.easeIn" data-splitin="none" data-splitout="none" data-elementdelay="1"
                    data-endelementdelay="0.1" data-endspeed="500" style="z-index: 4; max-width: auto;">
                    <a class="btn btn-primary btn-lg" href="#services">OUR SERVICES &nbsp; <i
                            class="fa fa-angle-right"></i></a>
                </div>
    
                <div class="tp-caption sfb tp-resizeme" data-x="250" data-y="410" data-speed="500" data-start="1500"
                    data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1"
                    data-endelementdelay="0.1" data-endspeed="500"
                    style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
                    <a class="btn btn-default btn-lg" href="./request-form.html">GET A QUOTE &nbsp; <i
                            class="fa fa-angle-right"></i></a>
                </div>
            </li>
    
            <!-- SLIDE  -->
            <li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300" data-saveperformance="off"
                data-title="Residential buildings">
                <!-- MAIN IMAGE -->
                <img src="./assets/images/slider-image/slide-2.jpg" alt="cover image" data-bgposition="center"
                    data-bgfit="cover" data-bgrepeat="no-repeat">
    
                <%= image_tag('slider-images/slide-2.jpg', :data => { :bgposition => "center", :bgfit => "cover", :bgrepeat => "no-repeat"}) %>
                <div class="overlay dark-2">
                    <!-- dark overlay [0 to 9 opacity] -->
                </div>
    
                <div class="tp-caption font-roboto skewfromleft tp-resizeme" data-x="50" data-y="300" data-speed="500"
                    data-start="1500" data-easing="Cubic.easeOut" data-splitin="none" data-splitout="none"
                    data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500"
                    style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
                    Residential Buildings <br />
                </div>
    
                <div class="tp-caption sfb tp-resizeme" data-x="50" data-y="410" data-speed="500" data-start="1500"
                    data-easing="Power3.easeIn" data-splitin="none" data-splitout="none" data-elementdelay="1"
                    data-endelementdelay="0.1" data-endspeed="500" style="z-index: 4; max-width: auto;">
                    <a class="btn btn-primary btn-lg" href="./residential.html"> MORE INFORMATION HERE &nbsp; <i
                            class="fa fa-angle-right"></i></a>
                </div>
            </li>
    
            <!-- SLIDE  -->
            <li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300" data-saveperformance="off"
                data-title="Corporate Buildings">
                <!-- MAIN IMAGE -->
                <img src="./assets/images/slider-image/slide-3.jpg" alt="cover image" data-bgposition="center"
                    data-bgfit="cover" data-bgrepeat="no-repeat">
    
                <div class="overlay dark-2">
                    <!-- dark overlay [0 to 9 opacity] -->
                </div>
    
                <div class="tp-caption font-roboto skewfromleft tp-resizeme" data-x="50" data-y="300" data-speed="500"
                    data-start="1500" data-easing="Cubic.easeOut" data-splitin="none" data-splitout="none"
                    data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500"
                    style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
                    Corporate Buildings <br />
                </div>
    
                <div class="tp-caption sfb tp-resizeme" data-x="50" data-y="410" data-speed="500" data-start="1500"
                    data-easing="Power3.easeIn" data-splitin="none" data-splitout="none" data-elementdelay="1"
                    data-endelementdelay="0.1" data-endspeed="500" style="z-index: 4; max-width: auto;">
                    <a class="btn btn-primary btn-lg" href="./corporate.html"> MORE INFORMATION HERE &nbsp; <i
                            class="fa fa-angle-right"></i></a>
                </div>
            </li>
    
        </ul>
    
    </div>
</section>