<div class="portfolio-item has-title <%= type%>">
    <div class="item-box">
        <figure>
            <span class="item-hover">
                <span class="overlay dark-5"></span>
            </span>

            <!-- overlay title -->
            <div class="item-box-overlay-title">
                <h3><%= name%> </h3>
            </div><!-- /overlay title -->

            <img class="img-fluid" src="/assets/portfolio-images/<%= file%>.jpg"
                width="600" height="399" alt="<%= name %>%">
        </figure>
    </div>
</div>