<div class="fancy-form fancy-form-selec type-select">
    <select id="range-type-select" class="form-control">
        <option value="">--- select a range  ---</option>
        <option id="buildingTypeOptionStandard" value="standard">Standard</option>
        <option id="buildingTypeOptionPremium" value="premium">Premium</option>
        <option id="buildingTypeOptionExcelium" value="excelium">Excelium</option>
    </select>
</div>