<div class="owl-carousel buttons-autohide controlls-over m-0" data-plugin-options='{"items": 1, "autoHeight": true, "navigation": true, "pagination": true, "transitionStyle":"backSlide", "progressBar":"true"}'>
    <div>
        <img class="img-fluid" src="/assets/portfolio-images/residential-1.jpg" alt="">
    </div>
    <div>
        <img class="img-fluid" src="/assets/portfolio-images/residential-2.jpg" alt="">
    </div>
    <div>
        <img class="img-fluid" src="/assets/portfolio-images/residential-3.jpg" alt="">
    </div>
    <div>
        <img class="img-fluid" src="/assets/portfolio-images/residential-4.jpg" alt="">
    </div>
</div>