<section id="since-cta" class="parallax parallax-1">
    <div class="overlay dark-5">
        <!-- dark overlay [1 to 9 opacity] -->
    </div>

    <div class="container">

        <div class="text-center">
            <h2 class="fs-40 fw-300">Elevate People Since 1976</h2>
            <a class="btn btn-default btn-lg" href=" <%= quote_path() %>">GET A QUOTE <i
                    class="fa fa-angle-right"></i></a>
            &nbsp; OR &nbsp;
            <a class="btn btn-primary btn-lg" href="<%= root_path()%>#contact">CONTACT US <i class="fa fa-angle-right"></i></a>
        </div>

    </div>
</section>