<section id="team" class="section-xs">
    <div class="container">

        <div class="heading-title  text-center">
            <h2>TEAM</h2>
        </div>


        <div class="owl-carousel text-center owl-testimonial m-0"
            data-plugin-options='{"singleItem": true, "autoPlay": 3500, "navigation": false, "pagination": true, "transitionStyle":"fade"}'>
            <div class="testimonial">
                <figure>
                    <img class="rounded" src="assets/david.jpg" alt="" />
                </figure>
                <div class="testimonial-content p-0">
                    <cite>
                        David LeCoach
                        <span>CEO at RocketElevators</span>
                    </cite>
                </div>
            </div>
            <div class="testimonial">
                <figure>
                    <img class="rounded" src="assets/mohammed.jpg" alt="" />
                </figure>
                <div class="testimonial-content p-0">
                    <cite>
                        Mohammed Bhallil
                        <span>Employee of the month</span>
                    </cite>
                </div>
            </div>
        </div>

    </div>
</section>