<%= render partial: 'common/page-header', :locals => { :title => "get a quote"} %>

<section id="request-form">
    <div class="container">
        
        <!-- RANGE SELECTOR -->
        <%= render partial: 'range-selector' %>

        <!-- BUILDING-TYPE SELECTOR -->
        <%= render partial: 'building-type-selector' %>

        <!-- ESTIMATE BUILDER -->
        <%= render partial: 'estimate-builder' %>

    </div>
</section>