<form id="commercial-form" class="row clearfix" method="post" action="">

    <div class="col-lg-8 col-sm-7">
        <div class="heading-title">
            <h4>Commercial Building</h4>
        </div>

        <fieldset class="mt-60">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <label for="commercial-stories">stories </label>
                    <input id="commercial-stories" name="commercial[stories]" type="number"
                        class="form-control"  min="0"/>
                </div>
                <div class="col-md-4 col-sm-6">
                    <label for="commercial-basements">basements</label>
                    <input id="commercial-basements" name="commercial[basements]" type="number"
                        class="form-control"  min="0"/>
                </div>
                <div class="col-md-4 col-sm-6">
                    <label for="commercial-parking-spaces">parking spaces</label>
                    <input id="commercial-parking-spaces" name="commercial[parking-spaces]"
                        type="number" class="form-control"  min="0"/>
                </div>
                <div class="col-md-4 col-sm-6">
                    <label for="commercial-elevator-shafts">elevator shafts </label>
                    <input required id="commercial-elevator-shafts" name="commercial[elevator-shafts]"
                        type="number" class="form-control"  min="0"/>
                </div>

            </div>
        </fieldset>
    </div>
</form>