<div id="estimate" class="col-lg-4 col-sm-5">
    <div class="heading-title">
        <h4>Estimate</h4>
    </div>

    <div class="toggle-transparent toggle-bordered-full clearfix">
        <div class="toggle active">
            <div class="toggle-content">

                <span class="clearfix">
                    <strong class="float-left">selected range:</strong>
                    <span id="estimate-range" class="float-right"></span>
                </span>
                <span class="clearfix">
                    <span  class="float-left">total of elevator needed:</span>
                    <span id="estimate-total-elevators" class="float-right"></span>
                </span>

                <hr />
                <span class="clearfix">
                    <strong class="float-left">Elevators Cost:</strong>
                    <span id="estimate-elevators-cost" class="float-right fs-20"></span>
                </span>
                <span class="clearfix">
                    <strong class="float-left">Setup Fees:</strong>
                    <span id="estimate-setup-fees" class="float-right fs-20"></span>
                </span>
                <span class="clearfix">
                    <strong class="float-left">TOTAL:</strong>
                    <span id="estimate-total" class="float-right fs-20"></span>
                </span>

                <hr />
            </div>
        </div>
    </div>
</div>