 <div id="header" class="navbar-toggleable-md sticky header-lg clearfix">
<header id="topNav">
    <div class="container">

        <!-- Logo -->
        <a class="logo float-left scrollTo" href="<%= root_path()%>#top">
            <img src="assets/rocket-elevators-logo.png" alt="" />
        </a>

        <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
            <nav class="nav-main">
                <ul id="topMain" class="nav nav-pills nav-main nav-onepage">
                    
                    <% navs.each do |nav| %>
                      <%= render partial: 'common/nav', locals: { title: nav[0].upcase! ,id: nav[1] } %>
                    <% end %>
                    
                </ul>
            </nav>
        </div>

    </div>
</header>
</div>
